<html>	
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/css/uikit.min.css" />
    </head>
	<body>
		<div id="app">
			<div class="uk-padding-small">
			
				<div class="uk-grid uk-grid-small" uk-grid>
					<div>
						<img src="images/rose_gold.png" width="80" height="80"/>		
					</div>
					<div>
						<div class="uk-grid uk-grid-collapse uk-child-width-1-1" uk-grid>
							<div>
								<span class="uk-text-large uk-text-bold">
									Animal Crossing
								</span>
							</div>
							<div>
								<span class="uk-text-meta uk-text-large">
									Flower hybrids
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="uk-grid uk-grid-small uk-child-width-auto" uk-grid>
					<div 
						v-for="(flower, index) in flowers" 
						:key="index"
						class="uk-padding">
						<div class="uk-margin">
							<span class="uk-text-lead uk-text-capitalize">
								{{ flower.name }}
							</span>
						
							<div v-for="(hybrid, index) in flower.hybrids" :key="index">
								<div class="uk-grid uk-grid-small" uk-grid>
									<div v-for="(requiredFlower, index) in hybrid.required" :key="index">
										<img 
											:src="getFlowerName(flower.name, requiredFlower)" 
											:uk-tooltip="requiredFlower"
											width="50" height="50" />
									</div>
									<div class="uk-text-large">=</div>
									<div>
										<img 
											:src="getFlowerName(flower.name, hybrid.name)" 
											:uk-tooltip="hybrid.name"
											width="50" height="50" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit-icons.min.js"></script>

<script>
	new Vue({
		el: '#app',
		data: {
			selectedFlower: null,
			flowers: [
				{ name: "rose", hybrids: [
					{ name: "pink", required: [ "red", "white" ]},
					{ name: "orange", required: [ "red", "yellow" ]},
					{ name: "black", required: [ "white", "white" ]},
					{ name: "black", required: [ "red", "red" ]},
					{ name: "blue", required: [ "orange", "orange" ]},
					{ name: "gold", required: [ "black", "black" ]},
				]},
				{ name: "windflower", hybrids: [
					{ name: "pink", required: [ "red", "orange" ]},
					{ name: "blue", required: [ "orange", "white" ]},
					{ name: "blue", required: [ "white", "white" ]},
					{ name: "purple", required: [ "blue", "pink" ]},
					{ name: "purple", required: [ "blue", "blue" ]},
				]},
				{ name: "pansie", hybrids: [
					{ name: "blue", required: [ "white", "white" ]},
					{ name: "orange", required: [ "red", "yellow" ]},
					{ name: "purple", required: [ "blue", "blue" ]},
					{ name: "purple", required: [ "red", "red" ]},
				]},
				{ name: "tulip", hybrids: [
					{ name: "orange", required: [ "red", "yellow" ]},
					{ name: "black", required: [ "red", "red" ]},
					{ name: "pink", required: [ "red", "white" ]},
					{ name: "purple", required: [ "orange", "orange" ]},
				]},
				{ name: "lily", hybrids: [ 
					{ name: "black", required: [ "red", "red" ]},
					{ name: "orange", required: [ "red", "yellow" ]},
					{ name: "pink", required: [ "red", "white" ]},
				]},
				{ name: "mum", hybrids: [
					{ name: "pink", required: [ "red", "white" ]},
					{ name: "purple", required: [ "white", "white" ]},
					{ name: "green", required: [ "purple", "purple" ]},
				]},
				{ name: "cosmos", hybrids: [
					{ name: "orange", required: [ "red", "yellow" ]},
					{ name: "pink", required: [ "red", "white" ]},
					{ name: "black", required: [ "red", "red" ]},
				]},
				{ name: "hyacinth", hybrids: [
					{ name: "orange", required: [ "red", "yellow" ]},
					{ name: "pink", required: [ "red", "white" ]},
					{ name: "blue", required: [ "white", "white" ]},
					{ name: "purple", required: [ "blue", "blue" ]},
				]},
			]
		},

		methods: {
			getFlowerName(breed, color){
				return "images/" + breed + "_" + color + ".png";
			}
		}
	})
</script>
