<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/css/uikit.min.css" />
    </head>
	<body>
		<div id="app">
		
			<!-- OVERLAY -->
			<div class="uk-height-small overlay" style="z-index: 980;" uk-sticky="bottom: #offset">
				<div id="toggle-overlay-animation" class="uk-padding-large uk-padding-remove-vertical">
					<div class="uk-grid uk-grid-small" uk-grid>
						<div class="uk-grid uk-grid-collapse uk-width-expand" uk-grid>
							<div class="uk-width-expand">
								<div class="uk-card uk-card-default uk-card-small uk-card-body uk-text-left">
									<span>
										{{ p1Name }} 
									</span>
								</div>
							</div>
							<div class="uk-width-auto">
								<div class="uk-card uk-card-default uk-card-small uk-card-body">
									<div class="uk-text-center">
										{{ p1Score }} 
									</div>
								</div>
							</div>	
						</div>
						<div class="uk-width-medium">
							<div class="uk-card uk-card-default uk-card-small uk-card-body">
								<div class="uk-text-center">
									{{ phase }} 
								</div>
							</div>
						</div>	
						<div class="uk-grid uk-grid-collapse uk-width-expand" uk-grid>
							<div class="uk-width-auto">
								<div class="uk-card uk-card-default uk-card-small uk-card-body">
									<div class="uk-text-center">
										{{ p2Score }} 
									</div>
								</div>
							</div>	
							<div class="uk-width-expand">
								<div class="uk-card uk-card-default uk-card-small uk-card-body">
									<div class="uk-text-right">
										{{ p2Name }} 
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
			
			<!-- CONTROLS -->
			<div class="uk-padding-small">		
				<div class="uk-margin">
					<div class="uk-grid uk-grid-small" uk-grid>
						<div class="uk-grid uk-grid-collapse uk-width-expand" uk-grid>
							<div class="uk-width-expand">
								<input 
									class="uk-input" 
									placeholder="P1" 
									v-model="p1Name"
									:disabled="visible">
							</div>
							<div class="uk-width-auto">
								<input 
									type="number"
									min="0" 
									placeholder="0"
									class="uk-input uk-form-width-xsmall" 
									v-model="p1Score">
							</div>
						</div>
						<div class="uk-width-medium">			
							<select v-model="phase" class="uk-select uk-width-expand" :disabled="visible">
								<option v-for="(phase, index) in phases" :key="index">
									{{ phase }}
								</option>
							</select>
						</div>
						<div class="uk-grid uk-grid-collapse uk-width-expand" uk-grid>
							<div class="uk-width-auto">
								<input 
									type="number" 
									min="0" 
									placeholder="0"
									class="uk-input uk-form-width-xsmall"
									v-model="p2Score">
							</div>
							<div class="uk-width-expand">
								<input 
									class="uk-input" 
									placeholder="P2" 
									v-model="p2Name" 
									:disabled="visible">
							</div>
						</div>
					</div>
				</div>
				<div class="uk-margin">
					<div class="uk-grid uk-grid-small uk-child-width-expand" uk-grid>
						<div>
							<button 
								class="uk-button uk-button-default uk-width-1-1"
								type="button" 
								@click="reset()"
								:disabled="visible">
								Reset
							</button>
						</div>
						<div>
							<button 
								class="uk-button uk-button-default uk-width-1-1"
								href="#toggle-overlay-animation" 
								type="button" 
								uk-toggle="target: #toggle-overlay-animation; animation: uk-animation-slide-top"
								@click="toggleVisible()">
								Toggle overlay
							</button>
						</div>
					</div>
				</div>
				
				<div class="uk-margin">
					<span class="uk-text-meta">
						FGC overlay used for streaming competitive matches. Cant edit player info when overlay is visible, click the button to hide the overlay and to edit player info. Can only reset player info's when overlay isn't visible.
					</span>
				</div>
				
				<div class="uk-margin">
					<div class="uk-flex uk-flex-center">
						<span class="uk-text-meta">
							@HETESAUS
						</span>
					</div>
				</div>
			</div>
		</div>
    </body>
</html>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit-icons.min.js"></script>

<script>

	new Vue({
		el: '#app',
		data: {
			visible: true,
			
			phases: [ 
				'Pools',
				'Semi Finals',
				'Winners Final',
				'Losers Final',
				'Grand Finals'
			],
			phase: 'Pools',
			
			p1Name: '',
			p1Score: 0,
			p1Flag: '',
			
			p2Name: '',
			p2Score: 0,
			p2Flag: '',
		},
		
		methods: {		
			toggleVisible(){
				this.visible = !this.visible;
			},
			
			reset(){
				this.p1Name = '';
				this.p2Name = '';
				this.p1Score = 0;
				this.p2Score = 0;
			}
		}
	})

</script>

<style>

	.overlay {
		background-color: green;
	}

</style>
