<html>    
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/css/uikit.min.css" />
    </head>
    <body>
        <div id="app">
            <div class="uk-padding-small">
                <div class="uk-margin">
                    <h3>Web Apps</h3>
                </div>

                <div class="uk-margin">
                    <div uk-filter="target: .tagFilter">
                        <ul v-if="tags !== []" class="uk-subnav uk-subnav-pill">
                            <li uk-filter-control class="uk-active"><a href="#">All</a></li>
                            <li v-for="(tag, index) in tags" :key="index" :uk-filter-control="'.' + tag" class="uk-padding-remove">
                                <a href="#">
                                    {{ tag }}
                                </a>
                            </li>
                        </ul>

                        <ul class="tagFilter uk-grid uk-grid-small uk-child-width-1-5@xl uk-child-width-1-4@l uk-child-width-1-3@m uk-child-width-1-2@s" uk-grid>
                            <li v-for="(item, index) in items" :key="index" :class="item.tags">
                                <a class="uk-link-reset" :href="item.path">
                                    <div class="uk-card uk-card-small uk-card-default">
                                        <div class="uk-card-body uk-height-small">
                                            <div class="uk-grid uk-grid-small" uk-grid>
                                                <div class="uk-width-auto">
                                                    <img v-if="item.img !== ''" :src="item.img" width="50">
                                                    <img v-else src="images/default.png" width="50">
                                                </div>
                                                <div class="uk-width-expand">
                                                    <h3 class="uk-margin-remove">
                                                        {{ item.name }}
                                                    </h3>
                                                    <span class="uk-text-meta">
                                                        {{ item.description }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div v-if="item.updated !== undefined && item.updated !== ''" class="uk-card-footer uk-text-meta">
                                            <span>
                                                last updated: {{ item.updated }}
                                            </span>
                                        </div>
                                    </div>
                                </a>                                
                            </li>
                        </ul>
                    </div>
                </div>   
            </div>
        </div>
    </body>
</html>

<script src="https://unpkg.com/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.12/js/uikit-icons.min.js"></script>
<script src="settings.js"></script>

<script>

    new Vue({
        el: '#app',
        data: {
            tags: [],
	    items: [
                { name: 'Twitch multiviewer V2', 
                  path: 'twitchV2.html', 
                  description: 'View multiple Twitch streams at the same time', 
		  tags: ['twitch'],
                  img: ''
                },
                { name: 'Twitch multiviewer', 
                  path: 'twitch.html', 
                  description: 'View multiple Twitch streams at the same time', 
		  tags: ['twitch'],
                  img: ''
                },
		{ name: 'Twitch multiviewer selection', 
                  path: 'twitchSelection.html',
                  description: 'Select following twitch streams to add to multiviewer', 
		  tags: ['twitch'],
                  img: ''
                },
		{ name: 'Twitch TV', 
                  path: 'twitchTV.html',
                  description: 'Randomly switch between streams', 
		  tags: ['twitch'],
                  img: ''
                },
                { name: 'Blackjack', 
                  path: 'blackjack.html',
                  description: 'Play blackjack', 
		  tags: ['game'],
                  img: ''
                },
		{ name: 'Space Facts', 
                  path: 'spaceFacts.html',
                  description: 'Random space facts', 
		  tags: [''],
                  img: ''
                },
		{ name: 'Magic Eight', 
                  path: 'magicEight.html',
                  description: 'A magic 8 ball', 
		  tags: ['tool'],
                  img: ''
                },
		{ name: 'Hiragana Tester', 
                  path: 'hiraganaTester.html',
                  description: 'Test your hiragana skills', 
		  tags: ['tool'],
                  img: ''
                },
		{ name: 'Standing Notifier', 
                  path: 'standingNotifier.html',
                  description: 'Notifies you when you should be standing and when you should be sitting', 
		  tags: ['tool'],
                  img: ''
                },
		{ name: 'Philips Hue', 
                  path: 'philipsHue.html',
                  description: 'Control local Philips Hue enabled lightbulbs', 
		  tags: ['tool'],
                  img: ''
                },
		{ name: 'Countdown', 
                  path: 'countdown.html',
                  description: 'A list of countdowns towards a specific date and time', 
		  tags: ['tool'],
                  img: ''
                },
		{ name: 'Tournament', 
                  path: 'tournament.html',
                  description: 'Tournament bracket app', 
		  tags: [],
                  img: ''
                },
		{ name: 'Tournament Overlay', 
                  path: 'tournamentOverlay.html',
                  description: 'Tournament streaming overlay',
		  tags: ['game'],				  
                  img: ''
                },
		{ name: 'Text Generator', 
                  path: 'textGen.html',
                  description: 'Generate texts for CSVs', 
		  tags: ['tool'],
                  img: ''
                },{ name: 'Animal Crossing Todo', 
                  path: 'acTodo.html',
                  description: 'Daily activities to do', 
		  tags: ['game'],
                  img: ''
                },{ name: 'Animal Crossing Flowers', 
                  path: 'acFlowers.html',
                  description: 'Flower cross breeding guide', 
		  tags: ['game'],
                  img: ''
                },{ name: 'Lists', 
                  path: 'lists.html',
                  description: 'Manage lists and items and have them saved in the browser', 
		  tags: ['tool'],
                  img: ''
                },{ name: 'Distinct list', 
                  path: 'distinctList.html',
                  description: 'Remove duplicates from list', 
		  tags: ['tool'],
                  img: ''
                },{ name: 'GDQ schedule', 
                  path: 'gdqSchedule.html',
                  description: 'View the gdq schedule and upcoming games', 
		  tags: [],
                  img: ''
                },
            ],
        },

        created() {
            this.items.sort(function(a, b){return new Date(b.updated) - new Date(a.updated)});
		
            for (let i = 0; i < this.items.length; i++) {
                for (let o = 0; o < this.items[i].tags.length; o++) {
                    if (this.tags.includes(this.items[i].tags[o]) == false) {
                        this.tags.push(this.items[i].tags[o]);
                    }
                }
            }
        }
    })

</script>
